out/
target/
project/target
docs/generated
docs-target/
*.fir
*.v
*.anno.json
*.swp
*~
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
rocketchip.jar
*#
.#*
.idea
build
bootrom/bootrom.img

.metals/
.vscode/

.bloop/

crashes/*

corpus/
tmp/

scripts/bmcfuzz/logs/
scripts/bmcfuzz/__pycache__/
