out/
target/
project/target
docs/generated
docs-target/
*.fir
*.v
*.anno.json
*.swp
*~
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
rocketchip.jar
*#
.#*
.idea
build
bootrom/bootrom.img

.metals/
.vscode/

.bloop/

.bsp/

crashes/*
errors/*

corpus/
tmp/

scripts/bmcfuzz/logs/
scripts/bmcfuzz/__pycache__/
bmctest/__pycache__
bmctest/work/
bmctest/reports/
bmctest/emu/__pycache__/